/*Configurações Globais*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
/*Rules for sizing the icon.*/
.material-md-18 { font-size: 18px; }
.material-md-24 { font-size: 24px; }
.material-md-36 { font-size: 36px; }
.material-md-48 { font-size: 48px; }

/*Rules for using icons as black on a light background.*/
.material-md-dark { color: rgba(0, 0, 0, 0.54); }
.material-md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/*Rules for using icons as white on a dark background.*/
.material-md-light { color: rgba(255, 255, 255, 1); }
.material-md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
/*Início das configurações da header*/
header {
    width: 100%;
    height: 64px;
    line-height: 64px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #ee6e73;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.display-header{
    z-index: 999;
}
.brand {
    width: auto;
    height: 100%;
    float: left;
    margin: 0 0 0 5%;
    color: #fff;
}
/*Início das configurações da Navigation*/
.menu {
    width: 60%;
    height: 100%;
    float: right;
}
.menu > ul {
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.menu > ul > li {
    width: 20%;
    display: inline-block;
    color: #fff;
}
.menu > ul > li a{
    width: 100%;
    display: block;
    color: #fff;
}
.menu > ul a:hover {
    background-color: #EA454B;
    color: #fff;
}
#menuToggle {
    display: none;
}
.menu-icon {
    display: none;
}
/*Início das configurações do submenu*/
.menu > ul .submenu {
    width: 100%;
    height: auto;
    padding: 0;
    color: #fff;
    display: none;
}
.menu > ul li:hover .submenu {
    display: block;
}
.menu .submenu li {
    width: 100%;
    height: 64px;
    background-color: #ee6e73;
}
.menu .submenu li:hover {
    background-color: #EA454B;
    color: #fff;
}
/*Início das configurações da Navigation com dispositivos < 768px*/
@media screen and (max-width: 768px) {
    .menu {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .menu > ul {
        margin-left: -100%;
        height: 100vh;
        margin-top: 4.5em;
        width: 50%;
        display: block;
        -webkit-transition: margin 0.5s;
        -moz-transition: margin 0.3s;
        -ms-transition: margin 0.3s;
        -o-transition: margin 0.3s;
        transition: margin 0.5s;
        background-color: #ee6e73;
        /*Para fazer com que o menu saia da esquerda, você deve trocar max-height por max-width*/
        /*Para fazer com que o menu saia da direita, você deve trocar max-height por max-width e setar float: right*/
    }
    .menu > ul::after {
        width: 100%;
        height: 100vh;
        margin-top: 4.5em;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0);
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        -webkit-transition: background-color 0.7s ease-in-out;
        -moz-transition: background-color 0.7s ease-in-out;
        -ms-transition: background-color 0.7s ease-in-out;
        -o-transition: background-color 0.7s ease-in-out;
        transition: background-color 0.7s ease-in-out;
    }
    .menu > ul > li {
        width: 100%;
        text-align: left;
        display: inherit;
        background-color: #ee6e73;
    }
    .menu > ul > li > a {
        padding-left: 15%;
        font-weight: bold;
    }
    .menu-icon {
        width: 100px;
        height: 64px;
        display: inherit;
        position: absolute;
        text-align: right;
        padding-right: 12px;
        top: 0;
        right: 0;
        line-height: 64px;
        color: #fff;
    }
    #menuToggle:checked ~ ul {
        margin-left: 0%;
        overflow-y: scroll;
        /*Para fazer com que o menu saia da esquerda ou direita, você deve trocar max-height por max-width*/
    }
    #menuToggle:checked ~ ul::after {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .menu-icon i {
        font-size: 2rem;
    }
    .menu > ul .submenu {
        width: 100%;
        display: block;
        max-height: 0;
        overflow: hidden;
        -webkit-transition: max-height 0.3s;
        -moz-transition: max-height 0.3s;
        -ms-transition: max-height 0.3s;
        -o-transition: max-height 0.3s;
        transition: max-height 0.3s;
    }
    .menu > ul li:hover .submenu {
        max-height: 250px;
    }
    .menu .submenu li {
        width: 100%;
        height: 100%;
        padding-left: 0%;
    }
    .menu .submenu li a {
        display: block;
        padding-left: 25%;
    }
}
